/**
 * SRC-MG Stylesheet
 *
 * @author David Stasik
 * @author Efim Rosental
 * @version 1.0
 */



body {
    padding: 0;
    margin: 0;
    font-size: 1.4em;
}

main {
    width: 500px;
    border: 1px solid #cccbcb;
    margin: 100px auto;
    padding: 22px;
    border-radius: 8px;
}

#email {
    display: none;
}

